@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7f7;
  color: #111;
}

input,
textarea,
select {
  color: inherit;
  background-color: transparent;
}

#tasklist::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
}

#tasklist::-webkit-scrollbar-thumb {
  background-color: rgb(120, 120, 120);
  border-radius: 50px;
}
